<h1><%= realm.id %></h1>

<p><a href="<%= realms_path %>">&lt;&lt; Collection List</a></p>

<% if realm.repos.empty? %>
  <p>No git file repos were found. Create one below.</p>
<% else %>
  <p>The following git repos were found in the <%= realm.id %> realm:</p>
  <ul class="repo-list styled-select-list">
    <% realm.repos.each do |repo| %>
      <li>
      <a href="<%= repo_path(repo) %>"><%= repo.id %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<form action="<%= new_repo_path %>" method="POST">
  <input type="text" name="name" />
  <input class="button" type="submit" value="Create"></input>
</form>

