<h1><%= realm.id %></h1>

<h2><%= repo.id %></h2>

<form class="edit-repo-form" action="<%= repo_path %>" data-new-file-path="<%= new_file_path %>" method="POST">
  <% blobs.each do |blob| %>
    <%= erb :repo_edit_blob, locals: { blob: blob } %>
  <% end %>

  <div id="bottom-controls">
    <ul class="controls left">
      <li><button class="button-light" id="add-file-button">Add Another File</button></li>
    </ul>
    <ul class="controls right">
      <li><input class="button" type="submit" value="Save" /></li>
      <li><a class="button-light cancel" href="<%= repo_path %>">Cancel</a></li>
    </ul>
  </div>

</form>

<%= js_url("repo_edit.js") %>
