<h1><%= realm.id %></h1>

<h2><%= repo.id %></h2>

<p><a href="<%= realm_path %>">&lt;&lt; Back to repo list</a></p>

<ul id="top-controls">
  <li><a class="button" href="<%= edit_repo_path %>">Edit</a></li>
</ul>

<% blobs.each do |blob| %>
  <div class="file-block">
    <h3>
    <%= blob.name %>
    <ul class="file-controls">
      <li><a href="<%= raw_blob_path(blob) %>">direct link</a></li>
    </ul>
    </h3>
    <div class="content-wrapper">
      <pre class="file-contents"><%= blob.data %></pre>
    </div>
  </div>
<% end %>

